.input {
    min-width: 200px;
    padding: 10px 20px;
    border-radius: $border-radius;
    outline: none;
    font-size: $font-size-md;
    border: unset;
    box-shadow: $box-shadow-primary-light;
    transition: all $transition-default;

    &:hover,
    &:focus {
        box-shadow: $box-shadow-primary;
    }

    &.invalid {
        border: 1px solid $color-danger;
    }
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 240px;
    padding: 10px 20px;
    color: $color-placeholder;
    border-radius: $border-radius;
    outline: none;
    font-size: $font-size-md;
    border: unset;
    box-shadow: $box-shadow-primary-light;

    &.invalid {
        border: 1px solid $color-danger;
    }
}

.button {
    color: $color-font-primary;
    background-color: $color-success;
    padding: 10px 20px;
}
